* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pacifico, Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.title1 {
    color: #5800FF;
    text-shadow: 2px 2px 5px #5d2eb3;
}

.title2 {
    color: aqua;
    text-shadow: 2px 2px 5px rgb(63, 207, 207);
}

.title3 {
    color: rgb(215, 186, 43);
    text-shadow: 2px 2px 2px #f2dd57;
}

.letterX {
    color: #702eec;
    text-shadow: 2px 2px 5px #5d2eb3;
}

.letterO {
    color: rgb(218, 197, 92);
    text-shadow: 2px 2px 2px #f2dd57;
}

.github-container {
    position: fixed;
    bottom: 3vh;
    right: 5vw;
}

.github-container a {
    text-decoration: none;
    color: white;
}

.github-tooltip {
    display: block;
    visibility: visible;
    background-color: transparent;
    color: aqua;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.github-container:hover .github-tooltip {
    top: -30px;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}

.fa-github {
    font-size: 2em;
}

.fa-github:hover {
    cursor: pointer;
}